%h1
  %strong
    TV Dramas
%p
%br
- 2.times do 
  - @videos.each do |video|
    %img{:src => "#{video.small_cover_url}"}
%p
%br
%h1
  %strong
    Movie Dramas
%p
%br
- 2.times do 
  - @videos.each do |video|
    %img{:src => "#{video.small_cover_url}"}