%section{:class => "content clearfix"}
  %article.video_category
    %header
      %h3
        %strong
          TV Dramas
    %div{:class => "videos row"}
      - 2.times do 
        - @videos.shuffle.each do |video|
          %div{:class => "video col-sm-2"}
            %img{:src => "#{video.small_cover_url}", :width => "166", :height => "236"}
  %article.video_category
    %header
      %h3
        %strong
          Movie Dramas
    %div{:class => "videos row"}
      - 2.times do 
        - @videos.shuffle.each do |video|
          %div{:class => "video col-sm-2"}
            %img{:src => "#{video.small_cover_url}", :width => "166", :height => "236"}